.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 16px;
  margin: 8px 0px;
  background: #FFFFFF;
  position: static;
  width: 100%;
  border: 1px solid #CFD8DC;
  box-sizing: border-box;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border-color: #2f85e7f5;
}
